{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- profile_detailed.html content starts here -->
<div class="container-fluid">

    <div class="row">
        <!-- Profile -->
        <div class="col-12 mt-3 left">
            {% if not user.is_authenticated %}
            <h1>ERROR: You must be logged in to modify your profile</h1>
            {% else %}
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h1>Modifying Profile: {{ user }}</h1>
                    <hr>

                    <div class="card mb-4 mt-3">
                        <div class="card-body">
                            <h3>Modifying Favourites:</h3>
                            <form id="favouritesForm" method="post" style="margin-top: 1.3em;">
                                {{ favourites_form | crispy }}
                                {% csrf_token %}
                                <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row justify-content-center">
                <!-- Library Info -->
                {% if library %}

                <div class="col-md-8 card mb-4  mt-3 ">
                    <h3>Library:</h3>
                    <div class="card-body">
                        <!-- We want a for loop inside the empty control tags
                    to iterate through each comment in comments -->
                    <table class="table">
                        <tr>
                            <th>Game</th>
                            <th>Completed</th>
                        </tr>
                        {% for entry in library %}
                        <tr>
                            <td>{{entry.id}}</td>
                            <td>{{entry.game}}</td>
                            <td>{{ entry.completed }}</td>
                        </tr>
                        {% endfor %}
                </div>
                </table>


                        {% for comment in comments %}
                        <div class="p-2 comments
                    {% if not comment.approved and comment.author == user %}
                    faded{% elif not comment.approved %} d-none{% endif %}">
                            <p class="font-weight-bold">
                                {{ comment.commenter }}
                                <span class="font-weight-normal">
                                    {{ comment.created_on }}
                                </span> wrote:
                            </p>
                            <div id="comment{{ comment.id }}">
                                {{ comment.body | linebreaks }}
                            </div>
                            {% if not comment.approved and comment.commenter == user %}
                            <p class="approval">
                                This comment is awaiting approval
                            </p>
                            {% endif %}
                            {% if user.is_authenticated and comment.commenter == user %}
                            <button class="btn btn-delete" data-comment_id="{{ comment.id }}">Delete</button>
                            <button class="btn btn-edit" data-comment_id="{{ comment.id }}">Edit</button>
                            {% endif %}
                        </div>
                        <!-- Our for loop ends here -->
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- profile_detailed.html content ends here -->
{% endblock %}
{% block extras %}
<script src="{% static 'js/favourites.js' %}"></script>
<script src="{% static 'js/library.js' %}"></script>
{% endblock %}