{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- profile_detailed.html content starts here -->
<div class="container-fluid">

    <div class="row">
        <!-- Profile -->
        <div class="col-12 mt-3 left">
            {% if not user.is_authenticated %}
            <h1>ERROR: You must be logged in to modify your profile</h1>
            {% else %}
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h1>Modifying Profile: {{ user }}</h1>
                    <hr>

                    <div class="card mb-4 mt-3">
                        <div class="card-body">
                            <h3>Modifying Favourites:</h3>
                            <form id="favouritesForm" method="post" style="margin-top: 1.3em;">
                                {{ favourites_form | crispy }}
                                {% csrf_token %}
                                <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                            </form>
                        </div>
                    </div>

                    
                    <!-- Checks if the user has a favourite game or platform -->
                    <p class="text-muted>">
                    <table class="table">
                        <tr>
                            <!-- Define table headings based on the user's favourite game or platform -->
                            {% if profile.game %}
                            <th>Favourite Game</th>
                            {% endif %}{% if profile.platform %}
                            <th>Favourite Platform</th>
                            {% endif %}
                        </tr>
                        <!-- Display favourites  -->
                        <tr> {% if profile.game %}

                            <td>{{ profile.game }}</td>{% endif %}{% if profile.platform %}

                            <td>{{ profile.platform }}</td>
                            {% endif %}

                        </tr>
                    </table>
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <!-- Library Info -->
                {% if library %}
                <div class="card mb-4 col12 col-md-5 text-center mx-auto">
                    <h2 class="card-title">Library</h2>
                    <table class="table">
                        <tr>
                            <th>Game</th>
                            <th>Completed</th>
                        </tr>
                    {% for entry in library %}
                    <tr>
                    <td>{{entry.game}}</td><td>{{ entry.completed }}</td></tr>
                    {% endfor %}
                </div>
            </table>
                {% endif %}

            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- profile_detailed.html content ends here -->
{% endblock %}
{% block extras %}
<script src="{% static 'js/favourites.js' %}"></script>
<script src="{% static 'js/library.js' %}"></script>
{% endblock %}