{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- profile_detailed.html content starts here -->
<div class="container-fluid">

    <div class="row">
        <!-- Profile -->
        <div class="col-12 mt-3 left">
            {% if not user.is_authenticated %}
            <h1>ERROR: You must be logged in to modify your profile</h1>
            {% else %}
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h1>Modifying Profile: {{ user }}</h1>
                    <hr>
                    <h2>Add new game to Library</h2>
                    <form method="post">
                        {{ add_game_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" name="add_game_form" class="btn btn-signup btn-lg">Add</button>
                    </form>

                    <div class="card mb-4 mt-3">
                        <div class="card-body">
                            <h3>Modifying Profile:</h3>
                            <form id="profileForm" method="post" style="margin-top: 1.3em;">
                                {{ favourites_form | crispy }}
                                {% csrf_token %}
                                <table class="table">
                                    <tr>
                                        <th>Game</th>
                                        <th>Completed</th>
                                    </tr>
                                    {% for entry in library %}
                                    <tr>
                                        <td><label for="entry_{{ entry.id }}">ID: {{ entry.id }} &nbsp;Name: {{ entry.game }}</label></td>
                                        <td><input type="checkbox" id="entry_{{ entry.id }}" name="entry_{{ entry.id }}" value="True" {% if entry.completed %} checked {% endif %}></td>
                                    </tr>
                                    {% endfor %}
                                </table>

                                <button type="submit" name="favourites_form" class="btn btn-signup btn-lg">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>
<!-- profile_detailed.html content ends here -->
{% endblock %}
{% block extras %}
<script src="{% static 'js/favourites.js' %}"></script>
<script src="{% static 'js/library.js' %}"></script>
{% endblock %}