{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- profile_detailed.html content starts here -->
<div class="container-fluid">

    <div class="row">
        <!-- Profile -->
        <div class="col-12 mt-3 left">
            <div class="row justify-content-center">
                <div class="col-md-4 text-center">
                    <h1>{{ user_identified }}</h1>
                    <hr>
                    <!-- Checks if the user has a favourite game or platform -->
                    <p class="text-muted>">{% if profile.game or profile.platform%}
                    <table class="table">
                        <tr>
                            <!-- Define table headings based on the user's favourite game or platform -->
                            {% if profile.game %}
                            <th>Favourite Game</th>
                            {% endif %}
                            {% if profile.platform %}
                            <th>Favourite Platform</th>
                            {% endif %}
                        </tr>
                        <!-- Display favourites  -->
                        <tr>{% if profile.game %}
                            <td>{{ profile.game }}</td>
                            {% endif %}
                            {% if profile.platform %}
                            <td>{{ profile.platform }}</td>
                            {% endif %}
                        </tr>
                    </table>
                    {% endif %}</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <!-- Library Info -->
                {% if backlog %}
                <div class="card mb-4 col12 col-md-5 text-center mx-auto">
                    <h2 class="card-title">Backlog</h2>
                    {% for game in backlog %}
                    <p>{{ game.game }}</p>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="card mb-4 col12 col-md-5 text-center mx-auto">
                    <h2 class="card-title">Completed</h2>
                    {% for game in completed %}
                    <p>{{ game.game }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- profile_detailed.html content ends here -->
{% endblock %}