{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- profile_detailed.html content starts here -->
<div class="container-fluid">

    <div class="row">
        <br><br>Some placeholder text
        <!-- Profile -->
        <div class="col-12 mt-3 left">
            <div class="row justify-content-center">
                <div class="col-md-4 text-center">
                    <h1>{{ user_identified }}</h1>
                    <hr>
                    <p class="text-muted>">{% if profile.game %}
                        <table class="table">
                        {% if profile.game or profile.platform %}
                        <tr>
                            {% if profile.game %}
                            <th>Favourite Game</th>
                            {% endif %}
                            {% if profile.platform %}
                            <th>Favourite Platform</th>
                            {% endif %} </tr>
                                <tr>{% if profile.game %}
                                <td>{{ profile.game }}</td>
                                {% endif %}
                                {% if profile.platform %}
                                <td>{{ profile.platform }}</td>
                                {% endif %}</tr>
                    </table>
                    {% endif %}</p>
                    Favourite Game: {{ profile.game }}{% endif %}&emsp; {% if profile.platform %}Favourite Platform: {{ profile.platform }}{% endif %}</p>
                </div>
                <!-- Library Info -->
                {% for profile in profiles %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="#" class="post-link text-center">
                                <h2 class="card-title">{{ profile.user }}</h2>
                                {% if profile.platform %} <p class="card">Favourite Platform: {{ profile.platform }}</p>
                                {% endif %}
                                {% if profile.game %}<p class="card">Favourite Game: {{ profile.game }}</p>{% endif %}
                            </a>

                            <hr />
                            <p class="card-text text-muted h6 text-center">Last Updated: {{ profile.updated_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

<!-- profile_detailed.html content ends here -->
{% endblock %}