:root {
  --jet: #2a2b2a;
  --peri: #beb8eb;
  --yel: #ffba08;
  --red: #d62828;
}

body {
  --jet: #2a2b2a;
}

main {
  background-color: var(--jet);
  color: var(--yel);
}
.container {
  background-color: var(--jet);
  color: var(--yel);
}

.row {
  background-color: var(--jet);
  color: var(--yel);
}

.card-body {
  background-color: var(--jet);
  color: var(--yel);
}

/* Navbar styling */
.navbar {
  background-color: var(--jet);
  color: var(--yel);
}

.navbar a {
  color: var(--yel);
}

.navbar a:hover {
  color: var(--peri);
}
