:root {
  --jet: #2a2b2a;
  --peri: #beb8eb;
  --yel: #ffba08;
  --red: #d62828;
}

body,
footer {
  --jet: #2a2b2a;
}

main {
  background-color: var(--jet);
  color: var(--yel);
}
.container {
  background-color: var(--jet);
  color: var(--yel);
}

.row {
  background-color: var(--jet);
  color: var(--yel);
}

.card-body {
  background-color: var(--jet);
  color: var(--yel);
}

/* Navbar styling */
.navbar {
  background-color: var(--jet);
  color: var(--yel);
}

.navbar a {
  color: var(--yel);
}

.navbar a:hover {
  color: var(--peri);
}

.select,
.form-select {
  background-color: var(--jet);
  color: var(--yel);
  border: 1px solid var(--peri); /* Adjust the border color here */
}

/* Table styling */
.table {
  background-color: var(--jet);
  color: var(--yel);
  border: 1px solid var(--peri);
}

.table th,
.table td {
  border: 1px solid var(--peri);
}

.table th {
  background-color: var(--jet);
  color: var(--yel);
}

.table td {
  background-color: var(--jet);
  color: var(--yel);
}

.table tr:hover {
  background-color: var(--peri);
  color: var(--jet);
}
